/*Base*/

body {
  font-family: Helvetica;
  background-color: lightgrey;
}

/*Layout*/

/*Modules*/

.card {
  width: 500px;
  padding: 10px;
  background-color: white;
  border: 1px solid #efefef;
  border-radius: 2px;
}

.card--avatar {
  float: left;
  width: 40px;
}

.card--top-text {
  float: left;
  margin-left: 0 0 0 10px;
  width: 450px;

}

.card--name {
  margin: 0;
  font-size: 1.2em;
  color: blue;
}

.card--meta-data {
  font-size: .8rem;
  color: grey;
}

/*State*/

/*Utils */

.clearfix {
  overflow: auto;
  zoom: 1;
}
