/*Base*/

body {
  font-family: Helvetica;
  background-color: lightgrey;
}

/*Layout*/

/*Modules*/

.card {
  width: 500px;
  padding: 10px;
  background-color: white;
  border: 1px solid #efefef;
  border-radius: 2px;
}

.card--avatar {
  float: left;
  width: 40px;
}

.card--top-text {
  float: left;
  margin-left: 10px;
  width: 450px;

}

.card--name {
  margin: 0;
  font-size: 1.2em;
  color: lightblue;
}

/*State*/
